
.new a {
	display: block;
	text-align: center;
	font-size: 18px;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	margin: 10px;

}

.kart {
	background-size: cover;
	background-repeat: repeat;
}


.picture img {
	
	width: 100%;
	height: auto;

	}

.header {
	
}

.header__top {
	padding-top: 10px;
	padding-bottom: 40px;
}

.header__bottom {
	position: relative;
	padding-top: 30px;
	padding-bottom: 50px;
	background-color: #000;
}

.header__formCont {
	display: none;
}

.header__form {
	display: none;
}
.toggleMobMenu {
	float: left;
	width: 40px;
	margin-top: 3px;
}

.toggleMobMenu span {
	display: block;
	height: 2px;
	margin-bottom: 6px;
	background-color: #fff;
}

.toggleMobMenu span:last-child {
	margin-bottom: 0;
}

.logo {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 117px;
	height: 25px;
	background: url("../images/logo.png");
}

.menuCont {
	display: none;
	position: absolute;
	padding-top: 28px;
	padding-bottom: 30px;
	border-top: 1px solid rgba(255,255,255,.8);
	top: 100%;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,.8);
	z-index: 2;
}

.menuCont.open {
	display: block;
}

.delivery {
	display: none;
}

.mailLink {
	display: inline-block;
	font-size: 14px;
	color: #000;
	text-decoration: none;
	margin-bottom: 26px;
}
.mailLink:before {
	display: inline-block;
	vertical-align: middle;
	margin-right: 12px;
	content: "";
	width: 21px;
	height: 13px;
	background: url("../images/mail.png");
}

.account {
	display: inline-block;
	vertical-align: middle;
	margin-right: 33px;
	font-size: 14px;
	color: #000;
	text-decoration: none;	
}

.account:before {
	display: inline-block;
	vertical-align: middle;
	margin-right: 12px;
	content: "";
	width: 24px;
	height: 9px;
	background: url("../images/key.png");
}

.location {
	display: inline-block;
	vertical-align: middle;
}

.location__item {
	display: inline-block;
}

.location__item a {
	font-size: 14px;
	color: #000;
	text-decoration: none;
}

.location__item:after {
	content:"|";
	margin-left: 4px;
}

.location__item:last-child:after {
	display: none;
}

.basket {
	float: right;
	color: #fff;
	text-decoration: none;
}

.basket:after{
	display: inline-block;
	content: '';
	width: 27px;
    height: 21px;
    margin-left: 2px;
	background: url("../images/basket.png");
}

.menu__item a {
	display: block;
	padding: 20px 0;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
}

@media screen and (min-width: 320px) {

.new a {
    margin-top: 35px;
}
}


@media screen and (min-width: 480px) { 

	.new a {
		margin-top: 35px;
	}
	.header__topRight {
		float: right;
	}
	.mailLink {
		float: left;
		margin-bottom: 0;
		margin-top: 5px;
	}
	
}

@media screen and (min-width: 768px) {


	.toggleMobMenu {
		display: none;
	}
	.logo {
		position: static;
		float: left;
		margin-right: 17px;
	}

	.menuCont {
		position: static;
    	float: left;
    	display: block;
    	padding: 0;
    	border-top: none;
    }		

    .menu__item {
    	display: inline-block;
    }
    .menu__item a {
    	font-size: 14px;
    	padding: 0 17px;
    }
    .header__form {
    	position: absolute;
    	right: 0;
    	top: 100%;
    }

    .header__form input[type="search"] {
    	border: none;
    	padding-right: 25px;
    	border-bottom: 1px solid #000;
    }
    .header__form button {
    	background: #000 url(../images/search.png);
    	border: none;
    	width: 23px;
    	height: 23px;
    	font-size: 0;
    	position: absolute;
    	bottom: 3px;
    	right: 0;
    }
    .header__formCont {
    	display: block;
    	float: right;
    }
    .searchIcon {
    	display: block;
    	width: 23px;
    	height: 23px;
    	margin-right: 16px;
    	background: url("../images/search.png");
    }
}

@media screen and (min-width: 992px) {
	.delivery {
		float: left;
		display: block;
		margin-right: 55px;
		margin-top: 0;
		margin-bottom: 0;
	}
.logo {
		position: static;
		float: left;
	}	
}

@media screen and (min-width: 1200px) {
.delivery {
		margin-right: 150px;
	}
.header__formCont {
		margin-right: 10px;
	} 
.header__form {
		display: block;
		position: relative;
	}
.header__form input[type="search"] {
	    border: block;
    	padding-right: 25px;
    	border-bottom: 1px solid #fff;
    	background-color: transparent;
	}
.searchIcon {
		display: none;
	}
}






/*---------------slider------------*/





/*--------Tumba------------*/


.tumba {
	padding: 20px 0;
}

.tumbneil__block img {
	width: 100%;
	height:auto;
}

.tumbneil__block1 img {
	width: 100%;
	height:auto;
}

.tumbneil__block2 img {
	width: 100%;
	height:auto;
}

.tumbneil {
	display: inline-block;
	padding: 10px 15px;
	width: 33%;
}

.wrapper {
	position: relative;
	margin-bottom: 60px;
}

.wrapper img {

	width: 100%;
	height: auto;
	}

.sale {
	 position: relative;
	 top: -6rem;
	 bottom: 0;
	 right: 0;
	 left: 9px;
	 margin: 0 auto;
	 z-index: 9;
     text-align: center;
     letter-spacing: 5px;
     font-size: 22px;
     color: #000;
	 font-family: 'PT Sans',regular;
	 text-transform: uppercase;
	 text-decoration: underline;
	
}

.text__wom {
	display: block;
	font-family: 'PT Sans', regular;
	text-transform: uppercase;
	font-size: 17px;
	text-align: center;
	line-height: 1.4rem;
	margin-top: 30px;

}

.line{

	text-decoration: line-through;
}

.text__wom1 {
	font-family: 'PT Sans', regular;
	text-transform: uppercase;
	font-size: 17px;
	text-align: center;
	line-height: 1.4rem;
	margin-top:  30px;

}


.text__wom2 {
	display: block;
	font-family: 'PT Sans', regular;
	text-transform: uppercase;
	font-size: 17px;
	text-align: center;
	line-height: 1.4rem;
	margin-top:  30px;

}





.btn__wom a {
	font-family: PT Sans, regular;
	display: block;
	position: relative;
	left: 3%;
	width: 180px;
	font-size: 14px;
	padding: 15px;
	color: #00000047;
	border: 1px solid #00000047;
	cursor: pointer;
	text-transform: uppercase;
	margin: 40px;
}



a {
	text-decoration: none;
	font-size: 16px;
	line-height: 10px;
	color: #fff;
	font-family:  'PT Sans', sans-serif;

} 


li {

	list-style: none;
}



/*---------Tumba---------*/

@media screen and (min-width:320px) {

.tumbneil {
    display: inline-block;
    padding: 10px 15px;
    width: 50%;
    margin-left: 80px;
}



.btn__wom  {
	text-align: center;
	padding-left: 20px;
}


	.wrapper {
		margin-bottom: -30px;
	}


.write {
	padding: 15px 10px;
}


}




@media screen and (min-width:480px) {

	.wrapper {
    margin-bottom: 60px;
}

.sale {
	 position: absolute;
	 top: 20px;
	 bottom: 0;
	 right: 0;
	 left: 9px;
	 margin: 0 auto;
	 z-index: 9;
     text-align: center;
     letter-spacing: 5px;
     font-size: 22px;
     color: #000;
	 font-family: 'PT Sans',regular;
	 text-transform: uppercase;
	 text-decoration: underline;
	
}



.tumbneil__block1 {
	display: none;
}
.tumbneil__block2 {
	display: none;
}

.tumbneil  {
	display:block;
	width: 70%;
	margin: 0 auto;
}
.btn__wom a {
	left: 20%;
}

.text__wom1 {
	display: none;
} 
.text__wom2 {
	display: none;
}

}

@media screen and (min-width:576px) {

.tumbneil {
    display: inline-block;
    padding: 10px 15px;
    width: 50%;
    margin-left: 140px;
}



.btn__wom  {
	text-align: center;
	padding-left: 20px;
}


	.wrapper {
		margin-bottom: 60px;
	}


.write {
	padding: 15px 10px;
}



.sale {
	display: block;
	 position: absolute;
	 width: 70px
	 height:20px;
	 top: 0;
	 bottom: 0;
	 right: 0;
	 margin: 0 auto;
	 z-index: 9;
     text-align: center;
     letter-spacing: 5px;
     font-size: 22px;
     color: #000;
	 font-family: 'PT Sans',regular;
	 text-transform: uppercase;
	 text-decoration: underline;
	
}



.tumbneil__block1 {
	display: block;
	}
.tumbneil__block2 {
	display: block;
	}

.tumbneil {
	display: inline-block;
	}

.text__wom {
		display: block;
	}

.text__wom1 {
	display: block;
} 

.text__wom2 {
	display: block;
}

.btn__wom a {
	left: 25%;
}
}


@media screen and (min-width:768px) {

.btn__wom {
    text-align: center;
    padding-left: 0px;
    padding-right: 70px;
}


	.tumbneil {
    display: inline-block;
    padding: 10px 15px;
    width: 50%;
    margin-left: 180px;
}

.tumbneil__block1 {
	display: block;
	}

.tumbneil__block2 {
	display: block;
	}

.text__wom1 {
	display: block;
} 
.text__wom2 {
	display: block;
}

.btn__wom a {
	left: 36%;
}

}



  @media screen and (min-width:992px) {

  	.wrapper {
		margin-bottom: 60px;
	}

  	.tumbneil {
		display: inline-block;
		width: 33%;
	}
	.text__wom1 {
		display: block;
} 
.text__wom2 {
		display: block;
}

.btn__wom a {
		left: 40%;
}

  }




@media screen and (min-width:1200px) {

	.wrapper {
		margin-bottom: 60px;
	}

.btn__wom {
    text-align: center;
    padding-left: 0px;
    padding-right: 70px;
}

.tumbneil {
    display: inline-block;
    padding: 10px 15px;
    width: 33%; 
    margin-left: 0;
}


.sale {
	 position: absolute;
	 top: 35%;
	 bottom: 0;
	 right: 0;
	 left: 9px;
	 margin: 0 auto;
     text-align: center;
     letter-spacing: 5px;
     font-size: 22px;
     color: #000;
	 font-family: 'PT Sans',regular;
	 text-transform: uppercase;
	 text-decoration: underline;
	
}

  }





/*--------------Foooter-------------*/

.footer {
	padding: 35px 0 40px 0;
	background-color: #000;
}

.footer__cont {
	margin-bottom: 35px;
}

.flexContainer {
	display: flex;
	justify-content: space-between;
}

.footer__left {
	flex: 0 0 50%;
	min-width: 50%;
}

.footer__menu {
	vertical-align: top;
	font-size: 15px;
}

.footer__contacts {
	display: inline-block;
	vertical-align: top;
}

.menu__list {
	margin-bottom: 17px;
}

.menu__list a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}


.footer__right {
	flex: 0 0 50%;
	min-width: 50%;
	text-align: right;
	font-size: 15px;
}

.write {
	display: inline-block;
	padding: 15px 10px;
	border: 1px solid;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}

.title {
	color: #fff;
	text-transform: uppercase;
}

.contact__email{
	margin: 0;
}

.contact__email a {
	text-transform: none;
}

.footer__cr {
	color: #fff;
	font-size: 15px;
}

.footer__cr a {
	color: #fff;
}


/*--------------Footer--------*/

@media screen and (min-width:480px) {

.write {
	padding: 15px 10px;
}
}



@media screen and (min-width:480px) {

.footer__menu {
		font-size: 18px;
	}

	.footer__right {
		font-size: 18px;
	}

	.footer__cr {
		font-size: 18px;
	}

	.write {
		padding: 15px;
	}

.footer__cr {
	color: #fff;
	font-size: 14px;
}}



@media screen and (min-width:576px) {


}

@media screen and (min-width:768px) {

.footer__contacts-list {
		float: left;
	}

	.footer__menu {
		font-size: 12px;
	}

	.write:hover {
		color: #777;
	}

	.footer__cr {
		font-size: 16px;
	}

	.footer__cr a:hover {
		color: #777;
	}


.footer {
		padding: 35px 0 30px 0;
	}

	.footer__left{
		flex: 0 0 55%;
		min-width: 55%;
	}

	.footer__left-flexCont {
		display: flex;
		justify-content: space-between;
	}

	.footer__right {
		flex: 0 0 45%;
		min-width: 45%;
		font-size: 12px;
	}

	.footer__cont {
		margin-bottom: 30px;
	}

	.footer__menu-list {
		float: left;
	}

	.menu__list {
		margin-bottom: 10px;
		font-size: 16px;
	}

	.menu__list a:hover {
		text-decoration: underline;
	}
	

    .footer__cr span {
	   display:inline-block;
	   text-align: left;
	   color: #fff;
	   font-size: 14px;
   	   padding-left: 25px;
}



	}


@media screen and (max-width:992px) {


  }






